"on":
  - push
name: Test
jobs:
  readmeExample:
    name: "[TEST] README example"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run build
      - name: Get latest release of ${{ github.repository }}
        uses: ./
        id: stats
        with:
          id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - run: "echo installations: '${{ steps.stats.outputs.installations }}'"
      - run: "echo repositories: '${{ steps.stats.outputs.repositories }}'"
      - run: "echo suspended: '${{ steps.stats.outputs.suspended_installations }}'"
      - run: >-
          echo most popular repositories: '${{
          steps.stats.outputs.popular_repositories }}'
